# credentials
src/main/resources/google-sheets-credentials.json
src/main/resources/application.properties
# (если хочешь — более общий, но безопаснее так)
# *.json  ❌ НЕ РЕКОМЕНДУЕТСЯ

target/
build/

### IDE ###
.idea
.vscode
*.iml

### OS ###
.DS_Store